APP_PORT=8080

POSTGRES_DB=zerizeha
POSTGRES_USER={{YOUR VALUE}}
POSTGRES_PASSWORD={{PASSWORD}}
PG_DSN=host=postgres port=5432 dbname=zerizeha user={{YOUR VALUE}} password={{PASSWORD}} sslmode=disable

JWT_SECRET={{SECRET}}
GOOGLE_CLIENT_ID={{YOUR VALUE}}
GOOGLE_CLIENT_SECRET={{YOUR VALUE}}
GITHUB_CLIENT_ID={{YOUR VALUE}}
GITHUB_CLIENT_SECRET={{YOUR VALUE}}
YANDEX_CLIENT_ID={{YOUR VALUE}}
YANDEX_CLIENT_SECRET={{YOUR VALUE}}

GOOGLE_DESKTOP_CLIENT_ID={{YOUR VALUE}}
GOOGLE_DESKTOP_CLIENT_SECRET={{YOUR VALUE}}
GOOGLE_DESKTOP_REDIRECT=http://127.0.0.1:5555/callback

OAUTH_REDIRECT_BASE=https://yoursite.ru
FRONTEND_BASE=https://yoursite.ru
CORS_ALLOWED_ORIGINS=https://yoursite.ru

ACCESS_TOKEN_TTL_MIN=15
REFRESH_TOKEN_TTL_HOURS=720
ADMIN_EMAILS=yourmail@example.ru # Используется для инициации админ прав у пользователя.

REDIS_ADDR=redis:6379
VOICE_PRESENCE_TTL_SEC=45
JANUS_WS_URL=ws://janus:8188

NEXT_PUBLIC_API_BASE=https://yoursite.ru

CADDY_EMAIL=yourmail@example.ru
NEXT_PUBLIC_STUN_URLS=stun:stun.l.google.com:19302
NEXT_PUBLIC_TURN_URLS=turn:{{YOUR IP}}:3478?transport=udp
NEXT_PUBLIC_TURN_USERNAME=turnuser
NEXT_PUBLIC_TURN_CREDENTIAL={{YOUR VALUE}}

TURN_REALM=yoursite.ru
TURN_USER=turnuser
TURN_PASS={{YOUR VALUE}}
TURN_EXTERNAL_IP={{YOUR VALUE}}
TURN_RELAY_IP={{YOUR VALUE}}
TURN_MIN_PORT=61000
TURN_MAX_PORT=62000

GRAFANA_ADMIN_PASSWORD={{YOUR VALUE}}
GRAFANA_ADMIN_USER={{YOUR VALUE}}
